
body {

  font-family: 'Covered By Your Grace', cursive;
  background-color: #e4e5cc;
}

nav ul {
  list-style: none;
  display: flex;
  background-color: purple;
  margin-bottom: 20px;
  padding: 50px;
}

nav ul li {
  padding: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.current {
  border-bottom: 4px solid white;
}

h1 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
}

.dynamic-treemap-style {
  padding-left: 200px;
  justify-content: flex-start;
  width: 200px;
 background-color: red;
 color: white;
 border: 1px solid black;

}
